### PECL

.deps
.libs/
Makefile*
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.*
configure*
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
php_test_results_*.txt
run-tests.php
tests/*.diff
tests/*.out
tests/*.php
!config.m4


### /Users/rsk/.gitignore-boilerplates/C.gitignore

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


### /Users/rsk/.gitignore-boilerplates/C++.gitignore

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
